<todo-header (menuSelecionado)="receberValorMenu($event)"></todo-header>

<todo-instituicao-ensino-list [hidden]="!(menuSelecionado == 'instituicao-ensino-list')"
    (menuSelecionado)="receberValorMenu($event)">
</todo-instituicao-ensino-list>

<todo-usuario-list [hidden]="!(menuSelecionado == 'usuario-list')" (menuSelecionado)="receberValorMenu($event)">
</todo-usuario-list>

<todo-livro-list  [hidden]="!(menuSelecionado == 'livro-list')" (menuSelecionado)="receberValorMenu($event)">
</todo-livro-list>

<todo-emprestimo [hidden]="!(menuSelecionado == 'emprestimo')" (menuSelecionado)="receberValorMenu($event)">

</todo-emprestimo>